.slider {
  height: 50vh;
  width: 100vw;
  background-color: grey;
  margin: auto;
  position: relative;
  overflow: hidden;

  .container {
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 1s ease;

    .iconsHos {
      font-size: 10rem;
    }

    img {
      padding-top: 5px;
      height: 50vh;
      width: 50vw;
    }
  }

  .icons {
    width: fit-content;
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 30px;
    margin: auto;
    gap: 10px;

    .icon {
      background-color: black;
      color: aliceblue;
      height: 50px;
      width: 50px;
      display: flex;
      border: 1px #777 solid;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}
